.body{
    background:url('./bg-images/tm-bg-slide-1.jpg') no-repeat fixed;
    background-size: cover;
    text-align: center;
}
input[type="text"], input[type="email"], input[type="password"] {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #fff;
    height: 42px;
    border-radius: 0px;
    padding: 0 30px;
}

.form-control{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
  }
  input.form-control:focus,textarea.form-control:focus{
    box-shadow: none!important;
    border-bottom: 1px solid #66afe9!important;
  }
  .form-label{
    position: absolute;
    margin-top:-30px;
    left: 10px;
    margin-left:10px;
    transition:font-size ease-in .4s, margin ease-in .4s
  }
  input.form-control:focus ~ .form-label{
    color: #66afe9;
    font-size: 10px;
    margin: -45px 0 0 5px;
  }
  
  
  .form-field{
    margin: 20px 0;
    height: 50px;
  }
  
.form-control{
    padding: 12px;
    height: auto;
  }
  input.form-control + label.form-label, textarea.form-control + label.form-label{
    position: absolute;
    margin-top: -35px;
    margin-left: 10px;
    padding: 0 5px;
    background: #fff;
    transition: margin ease-in .4s,font-size ease-in .4s;
  }
  input.form-control:focus + label.form-label, input.form-control + label.has_content{
    position: absolute;
    margin-top: -53px;
    margin-left: 10px;
    font-size: 12px;
    background: #fff;
    padding: 0 5px;
  }
  textarea.form-control:focus + label.form-label, textarea.form-control + label.has_content2{
    position: absolute;
    margin-top: -73px;
    margin-left: 10px;
    font-size: 12px;
    background: #fff;
    padding: 0 5px;
  }
  textarea.form-control:focus ~ .form-label{
    color: #66afe9;
    font-size: 10px;
    margin: -60px 0 0 5px;
  }
  .form-label.has_content{
    font-size: 10px;
    margin: -45px 0 0 5px;
  }
  .form-label.has_content2{
    font-size: 10px;
    margin: -75px 0 0 5px;
  }
  
  .form-group span{
    color: #c00;
    font-size: 12px;
    display: none;
    margin-left: 10px;
  }